version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: trendix-frontend:latest
    container_name: trendix-frontend
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-http://localhost:33333}
    ports:
      - "80:80"
    restart: unless-stopped

networks:
  default:
    name: trendix-net
